.cite-details-button {
    display: inline;
    cursor: pointer;
    background: #eeeeee;
    border: 1px solid #aaaaaa;
    border-radius: 2px;
    margin: 0px 5px 0px 2px;
    padding: 0px 2px 0px 2px;
}

.cite-details-button.selected {
    background: #dfc4fa;
    border: 1px solid #4B0082;
}

.cite {
    position: relative;
}

.cite-details {
    display: block;
    width: 400px;
    position: absolute;
    top: 25px;
    left: 20px;
    z-index: 1;
    opacity: 100;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    padding-bottom: 12px;
}

.cite-details-inner {
    padding: 0.5em 0.5em 0.5em 0.5em;
    background: white;
    border: 2px solid #4B0082;
    box-shadow: 10px 10px 5px #888888;
}

.small-faint-heading {
    font-family: sans;
    font-size: x-small;
    font-weight: bold;
    color: #999999;
    line-height: 1.1;
    margin-top: 0.5em;
}

.sampler-citation {
    margin-left: 1em;
}

.nav-fade {
    margin: 0px;
    padding: 5px 5px 0px 5px;
    border-bottom: 1px solid #4B0082;
    white-space: nowrap;
}

.nav-fade div {
    cursor: pointer;
    border-radius: 5px 5px 0px 0px;
    border-left: 1px solid #aaaaaa;
    border-top: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    font-family: sans;
    background: #fff;
    padding: 3px 8px;
    display: inline-block;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
}

.nav-fade div:hover {
    background: #ddd;
}

.nav-fade div.style-tab {
    background: #ffffff;
}

.nav-fade div.style-tab.selected {
    background: rgba(75, 0, 130,0.05);
    border-left: 1px solid #4B0082;
    border-top: 1px solid #4B0082;
    border-right: 1px solid #4B0082;
}
