{
    "presets": [
        [
          "@babel/preset-env",
	  {
	    "targets": {
	       "chrome": "58"
	    },
	    "useBuiltins": "usage"
	  }
	],
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-transform-arrow-functions"
    ]
}
