sub {
	vertical-align: bottom !important;
	font-size: inherit !important;
	background: #04db22;
}

#save-button-container {
	position: fixed;
	right: 40px;
	top:10px;
	cursor: pointer;
	width: 100px;
	border: 1px solid green;
	text-align: center;
	padding: 10px;
	background: white;
	border-radius: 0.25em;
}

#save-button {
	border: 1px solid black;
	border-radius: 0.5em;
	font-size: larger;
	background: green;
	color: white;
	font-weight: bold;
}
