div.citegrid {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 150px auto;
}

div.citegrid div.example {
    grid-column: 1 / 3;
    border-radius: 0.5em;
    background: #ccc;
    padding: 0.5em;
}

div.citegrid div.label {
    font-weight: bold;
    grid-column:1;
}

div.citegrid div.value {
    grid-column:2;
}

div.citegrid hr.hline {
    margin: 0.5em 0;
    grid-column: 1 / 3;
}

div.citegrid div.footer {
    grid-column: 1 / 3;
    font-size: 110%;
}

div.citegrid a.button {
    cursor: pointer;
    font-weight: bold;
    color:white;
    background: green;
    border-radius: 1em;
    padding: 0.5em;
}
