/*
span.cite {
	background: #04db22;
}
*/

/* #ffee00; */

#fixed-button-container {
	position: fixed;
	right: 40px;
	top:10px;
	cursor: pointer;
	width: 100px;
	border: 1px solid green;
	text-align: center;
	padding: 10px;
	background: white;
	border-radius: 0.25em;
}

#save-button {
	border: 1px solid black;
	border-radius: 0.5em;
	font-size: larger;
	background: green;
	color: white;
	font-weight: bold;
}

.cite#add-a-cite-button {
	border: 1px solid black;
	border-radius: 0.5em;
	font-size: larger;
	background: green;
	color: white;
	font-weight: bold;
}

.cite#add-a-cite-button::before {
    content: '';
}
.editing-progress-marker {
    border: 2px solid black;
    width: auto;
    padding: 2em;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
}

.editing-progress-marker.done {
    background: green;
    color: white;
}

.editing-progress-marker.wip {
    background: yellow;
    color: black;
}

