.table-display .label {
    font-weight: bold;
    text-align: right;
    min-width: max-content;
}

.table-display .label:after {
    content: ": ";
    text-align: left;
	font-weight: bold;
}

.table-display .value {
	font-weight: normal;
}

.spin-central {
    text-align: center;
}

