img {
    width: auto;
    height: 60px;
}

.popup-content {
  width: 600px !important;
}

.modal {
    font-size: 14px;
}
.modal > .header {
    border-bottom: 1px solid gray;
    text-align: left;
    padding: 5px;
    width: auto;
}
.modal > .content {
    padding: 10px 5px;
    border-bottom: 1px solid gray;
}
.modal > .actions {
    padding: 10px 5px;
    margin: auto;
    border: none;
}

.modal > .actions.balanced td:first-child {
    width: auto;
}

.modal > .actions.balanced td {
    width: auto;
}

.modal > .actions.wideleft td:first-child {
    width: auto;
}

.modal > .actions.wideleft td {
    width: 90px;
    vertical-align: middle;
}

.modal .login-note p {
    margin: 0 0 0 0;
    font-size: 11px;
    line-height: 16px;
    margin-left: 20px;
    text-indent: -20px;
    padding-bottom: 6px;
}

.modal .login-note p:before {
    content: "→";
    color: red;
    font-weight: bold;
    font-size: 16px;
    padding-right: 4px;
}

.modal > .actions .button {
    margin-right: 1em;
    height: 1.5rem;
}

.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}

.login-button {
    padding: 20px;
    border-radius: 8px;
    background: #4b0082;
    color: white;
    font-weight: bold;
    font-size: larger;
}

