.pell {
  border: 1px solid rgba(10, 10, 10, 0.1);
  box-sizing: border-box; }

.pell-content {
  box-sizing: border-box;
  height: 50px;
  outline: 0;
  overflow-y: auto;
  padding: 10px; }

.pell-actionbar {
  background-color: #4b00ff;
  border-bottom: 1px solid rgba(10, 10, 10, 0.1); }

.pell-button {
  background-color: white;
  border: none;
  cursor: pointer;
  height: 30px;
  outline: 0;
  width: 40px;
  vertical-align: bottom;
  margin: 1px 5px;
  border-radius: 4px;
}

.pell-button-selected {
  background-color: #F0F0F0; }

.pell u {
    text-decoration-color: transparent;
    font-variant: small-caps;
}
